

.css-button-fully-rounded--sky {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #4433ff;
    background: #4433ff;
  }
  .css-button-fully-rounded--sky:hover {
    background: #fff;
    color: #4433ff
  }
.contenedor{
  background-color: #4433ff88;
}
.titulo{
    text-align: center;
    color: rgba(160, 160, 177, 0.557);
}
